@CHARSET "UTF-8";
.head1{
	background:black;
	width:100%;
	height:50px;
	text-align:center;
}
.h21{
	margin-top:0%;
	color:white;
	padding:10px 0;
}
.return{
	float:left;
	color:white;
	padding:10px 4px;
}
.picture{
	margin-top:20px;
}
.sp{
	font-size:20px;
	text-align:center;
}
.xixian{
	margin-top:10px;
	width:100%;
	height:2px;
	background:black;
}
.left{
	width:40%;
	margin-left:20px;
	float:left;
}
.tou1{
	color:#7A0329;
	font-size:35px;
	
}
.tou2{
	color:#E84C13;
	font-size:35px;
	
}
.middle{
	width:20%;
	padding:50px 0px;
	text-align:center;
	float:left;
}
.right{
	width:30%;
	padding:50px 0px;
	float:left;
}
.wenzi{
	font-size: 20px;
	
}
