.c1{
	background-color: #333333;
	margin-left:0;
	margin-right:0; 
	width: 100%;
}
.b1{
	margin-top:20px;
	float: left;
	margin-left:7%; 
}
.title{
	color: white;
	float: left;
	text-align: center;
	margin-left: 33%;
} 
.labelone{
	text-align: center;

