body{
	margin-top: 50px;
}
.b1{
	height: 15em;
}
.b2,.b4{
	height: 10em;
	margin:5px,-2.5px,2.5px,0;
}
.b3,.b5{
	height: 10em;
	margin:5px,0,2.5px,-2.5px;
}
.c2{

}
.c3{

}
.c4{
	margin-right:-10px; 
}
.c5{
	width: 
}